
            body{
                background-color: black;
            }
            h1{
                color: crimson
            }
            p{
                background-color: blue; color: antiquewhite;
            }
            h2{
                background-color: cornsilk; color: brown;
            }
         
           .odd{
            color: darkorange;
           }
           .even{
            color: lawngreen;
           }